.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, h4{
  width: 100%;
  text-align: center;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
