.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 52px;

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
  }

  .message {
    font-weight: bold;
  }
}
