.mb-4 {
  margin-bottom: 16px;
}

.w-full {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 1px 1px #e7e7e7;
  position: relative;
  margin-top: 20px;

  .form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top: 1px solid #dfdfdf;
    background: #f7f7f7;
  }
}

.text-red-500 {
  color: #c60606;
  font-weight: bold;
}
